.search {
    position: relative;
    top: 126px;
    left: 457px;
    height: 50px;
    width: 240px;
    border: 1px solid #252525;
    border-radius: 4px;
    padding-left: 20px;
    box-shadow: 3px 3px #d35400;
    style:none;
}

.button {
    position: absolute;
    top: 168px;
    left: 660px;
    cursor: pointer;
}