.aroundButton {
    position: absolute;
    /* width: 111px;

height: 111px; */
    left: 50%;
    transform: translateX(-50%);
    top: 570px;
    width: 107px;
    height: 74px;
    border-top-left-radius: 390px;
    border-top-right-radius: 390px;
    background: #ECA03D;
    /* border-radius: 55px 55px 0px 0px; */
    background: #7D56A5;
    border: 1.5px solid black;
    border-bottom: none;

    z-index: 2;
}

.fatherDiv {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 209px;
    left: 0px;
    top: 618px;
    margin-bottom: 0%;
    bottom: 0%;
    background: #7D56A5;
    border: 1.5px solid #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 40px 40px 0px 0px;
    z-index: 1;
    padding: 10px;
}

.childDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 29px 26px;
    gap: 8px;
    box-sizing: border-box;
    /* 
    position: absolute; */
    width: 339px;
    max-width: 100%;
    height: 111px;
    /* top: 101px;
    left: 128px; */

    background: #FFFFFF;
    border: 1.5px solid #000000;
    border-radius: 40px;
}

.text {
    justify-content: center;
    display: inline;
    color: white;
    font-weight: 600;
    margin-top: 40px;
}

.insideText {
    font-size: small;
}

.cone {
    position: absolute;
    right: 50px;
    bottom: 7px;
    width: 37px;
    height: 33px;
}