.inputDiv{
    position:relative ;
    border: 1px solid gray;
    margin: auto;
    border-radius: 12px;
    padding: 6px;
    width: 328px;
    height: 40px;
}
.inputEara{
    border-radius: 12px;
    min-width: 315px;
    padding: 8px;
    border: none;
}
.inputEara:focus{
    border: none;
    outline: none;
}
.labelStyle{
    font-style: italic;
    position: absolute;
    top: -10px;
    left: 15px;
    background-color: white;
    font-size: 12px;
}