.margin {
    margin-left: 40%;
    margin-top: 50px;

}

.margin2 {
    position: relative;
    margin-left: 40%;
    margin-top: 50px;
}

.book {
    position: absolute;
    top: 25px;
    left: 25px;
}

.title1 {
    position: absolute;
    left:14px;
    top: 70px;
    font-size: 14px;
    font-style: normal;
}

.title2 {
    position: absolute;
    left:25px;
    top: 100px;
    color: #3D2072;
    font-size: 10px;
}

.zigzag {
    position: absolute;
    top: 25px;
    left: 46%;
}

.hend {
    position: absolute;
    top: 25px;
    left: 55%;
}

.title3 {
    position: absolute;
    left:58%;
    top: 70px;
    font-size: 14px;
    font-style: normal;
}

.title4 {
    position: absolute;
    left:58%;
    top: 130px;
    font-size: 9px;
    color: #3D2072;
}

.group1 {
    padding-bottom: 25px;

}

.gtoup2 {
    padding: 0px;
}