/* כפתור צג (מד) */
.screen{
    /* position: absolute; */
font-size: 10px;
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px 7px;
gap: 8px;
width: 70px;
height: 70px;
/* top: 50px; */
/* left: 0%; */
background: #FEEFEC;
border: 1.5px solid #252525;
box-shadow: 2px 2px 0px #D35400;
border-radius: 20px;
flex: none;
order: 0;
flex-grow: 0;
margin-top: 20px;
}
.info{
    font-size: 15px; 
}