.Table{
    /* background-color: rgb(0, 255, 174);
    height: 16px;
width: 94px;
left: 1251px;
top: 243px;
border-radius: nullpx;
box-sizing: border-box; */

position: absolute;
width: 1201px;
height: 71px;
left: 449.31px;
top: 215px;

background: #FEEFEC;
border: 1.5px solid #252525;
border-radius: 20px;


}