.inputDiv{
position: relative;
border: 1px solid gray;
margin: auto;
border-radius: 12px;
padding: 6px;
box-sizing: border-box;
max-width:328px ;
height: 42px;   
margin-top: 25px;
z-index: 3;
}
.inputEara{
   
    z-index: 2;
    min-width:320px ;
    padding: 8px;
    border: none;
    border-radius: 12px;
}
.inputEara:focus {
border: none;
outline: none;
}
.labelStyle{
    text-transform: capitalize;

    font-style: italic;
    position: absolute;
    top: -10px;
    left: 15px;
    background-color: white;
    font-size: 12px;
}