.back {
  width: 383px;
  height: 244px;
  left: 6.9px;
  top: 125px;

  background: #f39c12;
  border: 1.5px solid #252525;
  border-radius: 40px;
}

.internal {
  width: 383px;
  height: 244px;
  left: 16px;
  top: 110px;

  border: 1.5px solid #252525;
  border-radius: 40px;
}

.video {
  object-fit: cover;
}

.play {
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  bottom: 100px;
  left: 150px;
  width: 64px;
  height: 64px;

  background: #f39c12;
  border: 2px solid #000000;
  cursor: pointer;
}
