.all{
    text-align: center;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items:center ;
min-height: 70vh;
}
/* .button{
    position:relative;
    top: 800;
    width: 323px;
    margin-top: 350px;
    margin-left: 20px;
} */

.all form{
    min-height: 70vh;
    position: relative;
}

.button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    margin-top: auto;
    max-width: 100%;
}